* {
    font-family: heebo;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: flex-end;

    #bg-img {
        width: 100%;
        height: 65%;
        background-image: url(../images/bg.png);
        background-position: center;
        position: absolute;
        z-index: 0;
    }

    #contact {
        background-color: #1A1A1AD4;
        width: 360px;
        height: 400px;
        color: white;
        direction: rtl;
        margin: 70px 120px 0 0;
        position: relative;
        z-index: 1;

        form {
            display: flex;
            flex-direction: column;

            legend {
                width: 290px;
                text-align: center;
                font-size: 23px;
                font-weight: 900;
                margin: 55px 30px 20px 0;
            }

            p {
                width: 280px;
                text-align: center;
                font-size: 13px;
                margin-bottom: 30px;
                margin-right: 35px;
            }

            label {
                margin-right: 40px;
                font-size: 10px;
            }

            input {
                width: 270px;
                height: 30px;
                margin-bottom: 15px;
                margin-right: 40px;
            }

            button {
                background-color: #D31C75;
                width: 110px;
                height: 35px;
                color: white;
                margin-right: 40px;
                font-weight: 600;
            }
        }
    }
}

@media(max-width:768px) {
    #main {
        height: 480px !important;

        #contact {
            width: 300px !important;
            height: 310px !important;
            margin: 70px 60px 0 0 !important;
            width: 260px;

            form {

                legend {
                    width: 200px;
                    font-size: 17px !important;
                    margin: 45px 4px 10px 0 !important;
                }

                p {
                    margin-bottom: 20px !important;
                    width: 200px !important;
                    font-size: 10px !important;
                    margin-right: 50px !important;
                }

                label {
                    margin-right: 45px !important;
                    font-size: 8px !important;
                }

                input {
                    width: 210px !important;
                    height: 25px !important;
                    margin-right: 45px !important;
                }

                button {
                    width: 70px !important;
                    height: 23px !important;
                    margin-right: 45px !important;
                    font-size: 10px !important;
                }
            }
        }
    }
}

@media(max-width:1200px) {
    #main {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: flex-end;

        #bg-img {
            width: 100%;
            height: 65%;
            background-image: url(../images/bg.png);
            background-position: center;
            position: absolute;
            z-index: 0;
        }

        #contact {
            background-color: #1A1A1AD4;
            width: 320px;
            height: 360px;
            color: white;
            direction: rtl;
            margin: 70px 120px 0 0;
            position: relative;
            z-index: 1;

            form {

                legend {
                    width: 290px;
                    text-align: center;
                    font-size: 20px;
                    margin: 55px 15px 10px 0;
                }

                p {
                    width: 280px;
                    text-align: center;
                    font-size: 11px;
                    margin-bottom: 30px;
                    margin-right: 20px;
                }

                label {
                    margin-right: 35px;
                    font-size: 9px;
                }

                input {
                    width: 250px;
                    height: 28px;
                    margin-bottom: 15px;
                    margin-right: 35px;
                }

                button {
                    background-color: #D31C75;
                    width: 110px;
                    height: 30px;
                    color: white;
                    margin-right: 35px;
                    font-weight: 600;
                }
            }
        }
    }
}