$bg-color: rgb(76, 135, 155);
$fw: 600;

@font-face {
    font-family: dybbuk;
    src: url(../Fonts/Dybbuk.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: assistant;
}

///////////////////////////////////////////////// Main Title/////////////////////////////////////////////////////

#main {
    height: 80px;
    background: radial-gradient(rgba(167, 225, 248, 0.692) 40%, rgb(156, 189, 239));
    box-shadow: 0 0 50px 10px rgb(156, 189, 239);


    #navBarBrand {
        font-family: dybbuk;
        transform: rotate(-10deg);
        font-size: 45px;
    }

    #lang {

        & img {
            width: 80px;
            height: 54px;
        }

    }

    #TopBar {
        margin-left: 500px;
        direction: rtl;
    }

    li {
        font-size: 23px !important;
        font-weight: 600;
        direction: rtl;

        :hover {
            border-radius: 20px;
            box-shadow: 0 0 20px 5px skyblue;
        }
    }
}

#mainTitle {
    letter-spacing: 3px;
}

/////////////////////////////////////////////// Technologies/////////////////////////////////////////////////////

#techno {
    img {
        width: 40px;
        height: 40px;
        margin: 5px 20px;
    }
}

///////////////////////////////////////////////// About/////////////////////////////////////////////////////

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 900px;
    background-color: $bg-color;
    padding-bottom: 30px;
    scroll-margin-top: 80px;

    h1 {
        margin-bottom: 25px;
    }

    p {
        font-weight: $fw;
    }

    #photo {
        width: 130px;
        height: 140px;
        overflow: hidden;
        border-radius: 50%;
        margin-top: 50px;
        margin-bottom: 20px;
        margin-right: 20px;

        img {
            width: 190px;
            height: 210px;
        }
    }

    #text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 50%;
        font-size: 20px;
        background-color: rgba(167, 225, 248, 0.692);
        box-shadow: 0 0 20px 10px rgb(46, 90, 55);
        margin-top: 30px;
        padding: 70px 50px 60px 50px;
        direction: rtl;
    }

    #resume {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 60px 0 0 0px;

        button {
            width: 200px;
            height: 50px;
            border-radius: 30px;
            margin-top: 20px;
            font-weight: $fw;
            box-shadow: 0 0 20px 0px rgb(156, 189, 239);

            a {
                color: black;
                text-decoration: none;
            }
        }
    }
}

///////////////////////////////////////////////// Gallery ///////////////////////////////////////////////////////

#gallery {
    letter-spacing: 3px;
    scroll-margin-top: 80px;
}

#works {
    height: 1550px;

    #box {
        width: 80%;
        height: 1500px;
        box-shadow: .5px .5px 10px 3px inset;

        .card {
            width: 250px;
            height: 400px;
            direction: rtl;
            text-align: center;

            & img {
                width: 200px;
                height: 100px;
                object-fit: contain;

            }

            .card-footer {

                .container {
                    width: 150px;
                    background: linear-gradient(white, rgb(10, 125, 166));
                    box-shadow: 0px 0px 10px 10px white;
                    border-radius: 30px;
                }

                a {
                    font-weight: $fw;
                }
            }
        }
    }
}

/////////////////////////////////////////////////////Contact/////////////////////////////////////////////////////

#contact {
    background-color: $bg-color;
    direction: rtl;
    scroll-margin-top: 80px;

    div {
        font-weight: $fw;

        img {
            box-shadow: -3px 3px 10px 0px rgb(0, 0, 0);
        }
    }

    form {

        label {
            font-size: 18px;
            width: 80px;
        }

        input {
            border: none;
            margin-bottom: 10px;
            width: 300px;
            box-shadow: 3px 3px 10px 0px rgb(0, 0, 0);
        }

        textarea {
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 150px;
            margin: -20px 83px 0 0;
            box-shadow: 3px 3px 10px 0px rgb(0, 0, 0);
        }

        #send {
            font-weight: $fw;
            width: 300px;
            height: 30px;
            border-radius: 30px;
            margin: 20px 83px 40px 0px;
            box-shadow: 3px 3px 10px 0px rgb(0, 0, 0);
        }
    }
}

//////////////////////////////////////////////////// Social /////////////////////////////////////////////////////

#social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    background-color: rgb(6, 6, 6);

    img {
        filter: drop-shadow(0px 0px 5px skyblue);
    }
}

/////////////////////////////////////////////////// Mobile///////////////////////////////////////////////////////

@media (max-width:376px) and (min-width: 321px){
    #main {
        display: flex;
        align-items: center;
        justify-content: center;


        #navBarBrand {
            width: 40px !important;
            font-size: 20px !important;
            margin-left: -5px !important;
        }

        #lang {
            margin-left: 150px !important;
            width: 25px;
            height: 35px;

            img {
                width: 40px !important;
                height: 27px !important;
            }
        }


        #TopBar {
            margin-top: 10px !important;

            li {
                text-align: center !important;
                height: 59px !important;
                width: 378px !important;
                margin-left: -440px !important;
                margin-right: 55px !important;
                background: radial-gradient(skyblue 10%, whitesmoke);
            }
        }

    }

    #mainTitle {
        margin: 0;
        padding: 0;
    }

    #about {
        height: auto;
        scroll-margin-top: 60px;

        #photo {
            width: 90px !important;
            height: 90px !important;

            img {
                width: 150px !important;
                height: 170px !important;
            }
        }

        #text {
            width: 80%;

            h1 {
                font-weight: bold;
                margin-bottom: 10px;
            }

            font-weight: 600;
            gap: 10px;
            flex-direction: column;
            width: 85%;
            height: 70%;
            font-size: 18px;
            padding: 30px 40px;
        }

        #resume {
            button {
                margin-bottom: 70px;
            }
        }
    }

    #gallery {
        scroll-margin-top: 60px;
    }

    #works {
        padding-bottom: 50px !important;
        height: 350% !important;

        #box {
            width: 90% !important;
            gap: 20px !important;
            height: 350% !important;

        }
    }


    #contact {
        height: 600px;
        padding-top: 10px;
        scroll-margin-top: 60px;

        div {
            img {
                visibility: hidden;
                margin: 0px -470px 0 0px !important;
                flex-direction: column;
                width: 0px !important;
                height: 0px !important;
            }
        }

        form {
            margin-right: 100px !important;
            margin-top: 30px !important;

            div {
                flex-direction: row;

                label {
                    margin-bottom: 0px !important;
                    font-size: 16px;

                }

                input {
                    width: 240px !important;

                }

                textarea {
                    width: 240px !important;
                    margin-right: 0px !important;
                    margin-top: 5px !important;
                }
            }


            #send {
                width: 240px !important;
                margin: 20px 0px 40px 0px !important;
            }
        }
    }

    #social {
        height: 50px;

        img {
            width: auto !important;
            height: 80% !important;
            filter: drop-shadow(0px 0px 5px skyblue);
        }
    }
}

@media (max-width:768px)and(min-width:377px) {
    #main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;


        #navBarBrand {
            font-family: dybbuk;
            width: 50px;
            font-size: 35px !important;
        }

        #lang {
            margin-left: 450px;
            margin-bottom: 15px;
            width: 25px;
            height: 35px;

            img {
                width: 50px !important;
                height: 37px !important;
            }
        }

        #TopBar {
            margin-top: -16px !important;

        }

        li {
            text-align: center !important;
            height: 59px !important;
            width: 835px !important;
            padding: 5px 0 0 50px !important;
            margin: 0 0px 0 -500px !important;
            background: radial-gradient(skyblue 10%, whitesmoke);
        }
    }

    #mainTitle {
        margin: 0;
        padding: 0;
    }

    #about {
        height: auto !important;

        #photo {
            width: 90px !important;
            height: 90px !important;

            img {
                width: 150px !important;
                height: 170px !important;
            }
        }

        #text {
            width: 80% !important;

            h1 {
                font-weight: bold;
                margin-bottom: 10px;
            }

            font-weight: 600;
            gap: 10px;
            flex-direction: column;
            width: 85%;
            height: 70%;
            font-size: 15px;
            padding: 30px 40px;
        }

        #resume {
            button {
                margin-bottom: 60px;
            }
        }
    }

    #gallery {
        letter-spacing: 3px;
        scroll-margin-top: 80px;
    }

    #works {
        width: 100%;
        height: 250% !important;
        padding-bottom: 50px !important;

        #box {
            width: 90%;
            gap: 10px;
            height: 1850px;

            .card {
                h4 {
                    width: 96%;
                    padding-right: 5px;
                }
            }
        }
    }

    #contact {
        height: auto;
        margin-top: 0 !important;
        padding-top: 10px;

        div {
            img {
                visibility: hidden;
                margin: 0px -470px 0 0px !important;
                flex-direction: column;
                width: 0px !important;
                height: 0px !important;
            }
        }

        form {
            margin-right: 170px;
            margin-top: 20px;

            div {
                flex-direction: row;


                label {
                    margin-bottom: 3px;
                    font-size: 16px;
                }

                input {
                    width: 300px;
                }

                textarea {
                    width: 300px;
                    margin-left: 150px;
                    margin-top: -20px;
                }
            }


            #send {
                width: 300px !important;
                margin: 20px 0px 40px 150px;
            }
        }
    }

    #social {
        height: 50px;

        img {
            width: auto !important;
            height: 80% !important;
            filter: drop-shadow(0px 0px 5px skyblue);
        }
    }
}

@media(max-width:1200px) {
    #main {
        height: 80px;
        background: radial-gradient(rgba(167, 225, 248, 0.692) 40%, rgb(156, 189, 239));
        box-shadow: 0 0 50px 10px rgb(156, 189, 239);


        #navBarBrand {
            font-family: dybbuk;
            transform: rotate(-10deg);
            font-size: 45px;
        }

        #lang {

            & img {
                width: 80px;
                height: 54px;
            }

        }

        #TopBar {
            margin-left: 420px !important;
            direction: rtl;


            li {
                font-size: 20px !important;
                width: 80px;
            }
        }
    }

    #mainTitle {
        letter-spacing: 3px;
    }

    #techno {
        img {
            width: 40px;
            height: 40px;
            margin: 5px 20px;
        }
    }

    #about {
        padding-bottom: 0px;
    }

    #works {
        height: 1600px;
    }

    #contact {


        form {
            input {
                width: 250px;
            }

            textarea {
                width: 250px;
                margin: -15px 83px 0 0;
            }

            #send {
                width: 250px;
                margin: 20px 85px 35px 0px;

            }
        }
    }
}
