* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********************************************** Navigation Bar ************************************************/

#mainNav {
    width: 100%;
    height: 70px;
    border-top: 3px solid #1AE0EC;

    #TopBar {
        direction: rtl;
        margin-left: 500px;

        li {
            font-size: 20px;
            font-family: heebo;
            font-weight: 600;
            direction: rtl;

            :hover {
                color: #1AE0EC;
            }
        }
    }

    #photo {
        padding-left: 50px;

        img {
            width: 65px;
            height: 65px;
            border-radius: 50%;
        }
    }

    #author {
        font-size: 25px !important;
        font-family: satisfy;

        a {
            color: black;
            text-decoration: none;
        }
    }
}

/*********************************************** Project Title *************************************************/

#project-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    background-color: #92f8fc;
    color: #3A3A3A;
    font-family: heebo;

    #title {
        font-size: 60px;
        font-weight: 900;
    }

    p {
        width: 80%;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }

    #buttons {

        #go-to-project {
            width: 120px;
            height: 20px;
            color: #2C2C2C;
            background-color: #1AE0EC;
            font-family: heebo;
            font-size: 12px;
            font-weight: bold;
            border: none;
            border-radius: 30px;
            margin-left: 20px;

            a {
                text-decoration: none;

                &:visited {
                    color: #2C2C2C;
                }
            }

        }

        #download {
            width: 120px;
            height: 20px;
            color: #2C2C2C;
            background-color: #1AE0EC;
            margin-top: 10px;
            font-size: 12px;
            font-weight: bold;
            border-radius: 30px;
            border: none;
        }
    }
}

/*********************************************** Technologies **************************************************/

#techno {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;

    img {
        width: 100px;
        height: 90px;
    }
}

#snapshot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 750px;
    background-color: #EBFEFF;
    box-shadow: 5px 5px 10px 5px rgb(183, 179, 179);

    #img-m {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    img {
        width: 75%;
        height: 65%;
        margin-left: 30px;
        box-shadow: 0px 0px 40px 0px #00000066;
        object-fit: cover;
    }
}

/************************************************** Credits ****************************************************/

#rights {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 20px;
    background-color: black;
    color: #1AE0EC;
    font-family: heebo;
    font-weight: normal;
    letter-spacing: 0.5px;
    /* padding-top: 10px; */
    font-size: 13px;
    border-bottom: 5px solid #1AE0EC;
}

/************************************************** Mobile ****************************************************/




@media(max-width:768px) {
    #mainNav {
        height: 60px;

        #TopBar {
            height: 300px;
            margin-left: -50px !important;
            margin-top: 20px;

            li {
                padding: 10px 15px 0px 0px;
                text-align: right !important;
                background-color: #92f8fc91;
                height: 60px;
                font-size: 17px !important;
                margin: 0 -10px 0 0 !important;
            }
        }

        #photo {
            padding-left: 35px !important;
            margin-top: -3px;

            img {
                width: 45px !important;
                height: 45px !important;
            }
        }

        #author {
            width: 220px !important;
            margin-right: 350px !important;
            font-size: 20px !important;
        }
    }

    #project-name {
        #title {
            font-size: 40px;
        }

        p {
            font-size: 13px;
        }
    }


    #techno {
        height: 80px;

        img {
            width: 80px;
            height: 70px;
        }
    }


    #snapshot {
        height: 360px !important;

        img {
            width: 60%;
            height: auto;
            margin-left: 20px;
            margin-top: 10px;
        }


    }

    #rights {
        font-size: 11px !important;
        height: 20px;
        padding-top: 2px;
        border-bottom: 4px solid #1AE0EC;
    }
}

@media(max-width:1200px) {
    #mainNav {
        height: 70px;
        border-top: 3px solid #1AE0EC;

        #TopBar {
            direction: rtl;
            margin-left: 0px;

            #contact {
                width: 90px;
            }

            li {
                font-size: 17px !important;
            }
        }

        #photo {
            padding-left: 50px;

            img {
                width: 55px;
                height: 55px;
                border-radius: 50%;
            }
        }
    }

    #project-name {
        #title {
            font-size: 50px;
        }
    }


    #snapshot {
        height: 650px;
    }
}